.input {
    width: 40%;
    padding: 10px;
    text-align: left;
    margin-top: 5px;
    float:right;
}

.label {
    float:left;
    width: 30%;
    color:black;
}
.question {
  display: flex;
}

.hiddenLabel {
    display: none;
}