.nav {
    width: 100%;
    background-color: antiquewhite;
    margin-bottom: 5%;
}

nav {
    display: flex;
    justify-content: initial;
    padding: 2%;
}

nav li {
    list-style: none;
    margin-right: 4%;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: black;
    text-decoration: none;
}
nav a:hover {
    color: blue;
}