.tableStyle, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.tableStyle {
    width: 100%;
    padding: 20px;
    justify-content: center;
}

.headers {
    color: blue;
    background-color: lightgreen;
}


.actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.actiontop {
    margin-bottom: 2% !important;
}

