.buttons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
}

.light-up {
  background-color: yellow !important;
}

.light-down {
  background-color: darkslategrey !important;
}

.table-area {
  padding: 15%;
  justify-content: center;
}

